.demoContainer {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  font-family: "Karla" !important;
  text-align: justify;
  background: linear-gradient(to right, #e0e0e0, rgb(240, 240, 240));
  align-items: center;
  height: 700px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 120px;
}

@media screen and (max-width: 1112px) {
  .demoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* overflow: auto; */
    /* height: 700px; */
    height: 100%;
  }

  .title {
    height: 80px;
  }
}
