html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', "Karla", sans-serif;
  background: linear-gradient(to right, #e0e0e0, rgb(240, 240, 240));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
