.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 0 15px;
}

.leftHeader {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 2rem;
  color: white;
  padding: 0 5px;
}

.leftHeader a {
  padding-left: 10px;
}

.demoSetup a:hover,
.navigation a:hover {
  color: #86c7ff;
}

.demoSetup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.demoSetup a {
  margin: 0px 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navigation a {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
  }
  .leftHeader {
    display: flex;
    justify-content: center;
  }

  .navigation {
  }
}

@media screen and (max-width: 437px) {
  .header {
    height: 100%;
  }
}
