.person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 290px;
  /* width: 10rem;
  height: 20rem */
  margin-top: 10px;
}

.person img {
  height: 290px;;
}
.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personInfo {
  padding: 5px;
  font-size: 24px;
  color: white;
}

.topInfo {
  margin-top: 14px;
}
