.container {
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #c9d6ff; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff)
}

.left {
  height: 40%;
  width: 30%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 40%;
  width: 30%;
}
