.teamContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
  background: #232526; 
  background: linear-gradient(to right, #232526, black);
}

.teamIntro {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 994px) {
  .teamContainer{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height: 950px;
    /* justify-content: space-between; */
  }
}
@media screen and (max-width: 518px) {
  .teamContainer{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height: 1750px;
    /* justify-content: space-between; */
  }
}