.teamContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.teamIntro {
  display: flex;
  align-items: center;
  justify-content: center;
}
