.topContainer {
  height: 1000px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 1);
  background: black;
  background: linear-gradient(to right, #232526, rgb(8, 8, 8));
}

@media screen and (max-width: 1700px) {
  .topContainer {
    /* height: 100%; */
    height: 1100px;
  }
}
@media screen and (max-width: 1092px) {
  .topContainer {
    /* height: 100%; */
    height: 1300px;
  }
}
/* #4b6cb7 */
/* #182848 */
