.instructionSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  height: 30%;
  max-width: 80%;
  min-width: 80%;
  padding: 1rem;
  margin-top: 10px;
  overflow: hidden;
}

.codeBtn {
  background-color: black;
  border-color: rgb(58, 171, 241);
  color: rgb(58, 171, 241);
  font-size: 19;
  width: 220px;
  height: 50px;
  font-weight: bold;
  border-radius: 0.4rem;
}

.npmBtn {
  margin-top: 10px;
  background-color: grey;
  border-color: white;
  color: white;
  font-size: 19;
  width: 220px;
  height: 50px;
  border-radius: 0.4rem;
}

.setupInstructions {

}