.instructionSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 30%;
  max-width: 80%;
  min-width: 80%;
  padding: 1rem;
  margin-top: 50px;
  overflow: hidden;
  font-family: 'Karla';
  font-size: 1.1rem;
}

.codeBtn, .npmBtn {
  background-color: rgba(255, 255, 255, 0.97);
  color: rgba(0, 0, 0, 0.8);
  border-style: none;
  font-size: 14px;
  width: 15rem;
  min-height: 3.5rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-bottom: 10px;
}

.codeBtn:hover, .npmBtn:hover {
  background-color: #3caf51;
  color: white;
  cursor: pointer;
}

.instructionSetup p:hover {
  cursor: pointer;
  color: #4ddd68;
}
