.titleContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 55%;
  background-color: transparent; /* fallback for old browsers */
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  max-width: 80%;
  min-width: 80%;
  overflow: hidden;
}

.mainImage {
  padding-top: 3rem;
}

.containerLeft {
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: flex-start;
}

.heading {
  margin: 0;
  font-size: 5rem;
}