.titleContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 850px;
  background-color: transparent; /* fallback for old browsers */
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}

.logoImage {
  display: flex;
  justify-content: center;
  padding-right: 70px;
}

.logoImage h1 {
  font-family: 'Bungee';
  font-size: 8rem;
  color: rgb(105, 181, 252);
}

@keyframes color-change {
  0% { color: rgb(219, 87, 219); }
  50% { color: rgb(105, 181, 252); }
  100% { color: rgb(219, 87, 219); }
}

@keyframes color-change-reverse {
  0% { color: rgb(105, 181, 252); }
  50% { color: rgb(219, 87, 219); }
  100% { color: rgb(105, 181, 252); }
}



.mainImage {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainImage h3 {
  font-family: 'Karla';
  font-size: 29px;
  width: 950px;
  margin: 30px;
}
.containerLeft {
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: flex-start;
}

.heading {
  margin: 0;
  font-size: 5rem;
}

.underHeading {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-left: 10px;
  font-family: 'Karla';
  font-size: 2.5rem;
}